#content {
    max-width: 600px;
    margin: 40px auto;
    padding: 60px 160px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
    font-weight: normal;
    letter-spacing: 4px;
}

h2 {
    text-align: center;
    color: #0062b8;
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 3px;
    border-bottom: 1px solid #ddd;
}

p, li {
    font-size: 1.15rem;
    line-height: 1.6;
}

li {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer img {
    width: 125px;
}